@{
	ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Accueil</h1>
	<!--
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
				<button class="btn btn-sm btn-outline-secondary">Share</button>
				<button class="btn btn-sm btn-outline-secondary">Export</button>
			</div>
		</div>
	-->
</div>
<div class="panel-group">
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Construction d'une facture</div>
			<div class="panel-body">
				<div class="input-group">
					<input id="scanner_input" class="form-control" placeholder="Saisir le code barre..." type="text" />
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-barcode"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-secondary">
			<div class="panel-heading">Statistiques</div>
			<div class="panel-body">
				
			</div>
		</div>
	</div>
	
</div>

