@{
	ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Accueil</h1>
	<!--
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
				<button class="btn btn-sm btn-outline-secondary">Share</button>
				<button class="btn btn-sm btn-outline-secondary">Export</button>
			</div>
		</div>
	-->
</div>
<div class="panel-group">
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Saisie d'une livraison</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-9">
						<input id="scanner_input" class="form-control" placeholder="Saisir le code barre..." type="text" autofocus/>
					</div>
					<div class="col-lg-2">
						<button class="btn btn-primary" type="button">Scanner</button>
					</div>
				</div>
				<div class="alert alert-primary" style="margin:1rem;" role="alert">
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">Statistiques</div>
			<div class="panel-body">

			</div>
		</div>
	</div>

</div>

