@model FacturationWebSite.Models.HomeViewModel

@{
	ViewData["Title"] = "Home Page";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1 class="h2">Accueil</h1>
	<!--
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group mr-2">
				<button class="btn btn-sm btn-outline-secondary">Share</button>
				<button class="btn btn-sm btn-outline-secondary">Export</button>
			</div>
		</div>
	-->
</div>
<div class="panel-group">
	<div class="col-lg-6">
		<div class="panel panel-primary">
			@await Html.PartialAsync("NewLine.cshtml", Model, this.ViewData)
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-info">
			<div class="panel-heading">Statistiques</div>
			<div class="panel-body">

			</div>
		</div>
	</div>

</div>

@section Scripts {
	<script type="text/javascript">
        function sendData() {
			var token = $('input[name="__RequestVerificationToken"]', $('#NewLineForm')).val();
			var myData = { DeliveryId: $("#DeliveryId").val(), Barcode: $("#Barcode").val() };
            var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });

            $.ajax({
                url: "/Home/NewLine",
                type: "POST",
                data: dataWithAntiforgeryToken,
                success: function (data) {
					$(".alertNewLine").empty();
					if (data.errorCode == 0) {
						$(".alertNewLine").html(data.successMessage);
					} else {
						$(".alertNewLine").html(data.errorMessage);
					}
                },
                error: function () {
					$(".alertNewLine").empty();
                }
            });
        }
		$(document).ready(function () {
			$(".scanbutton").on('click', sendData);
		});
	</script>
}