@model FacturationWebSite.Models.HomeViewModel

<div class="panel-heading">Saisie d'une livraison</div>
<div class="panel-body">
	<form id="NewLineForm" method="post">
		@Html.AntiForgeryToken()
		<div class="form-group">
			<label asp-for="DeliveryId" class="control-label"></label>
			@Html.DropDownListFor(m => m.DeliveryId, new SelectList((List<SelectListItem>)ViewData["DateList"], "Value", "Text", (int)ViewData["NearestDate"]))
		</div>
		<div class="row">
			<div class="col-lg-9">
				<input input asp-for="Barcode" class="form-control" placeholder="Saisir le code barre..." type="text" autofocus />
			</div>
			<div class="col-lg-2">
				<input type="button" value="Scanner" class="btn btn-primary scanbutton" />
			</div>
		</div>
		<div class="alert alert-primary alertNewLine" style="margin:1rem;" role="alert">
		</div>
	</form>
</div>

