@model IEnumerable<FacturationWebSite.Models.Delivery>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
	<a asp-action="Create">Create New</a>
</p>
<div id="calendar" style="width:60%">

</div>

<style>
	.status_Pending {
		background-color: #199835 !important;
	}

	.status_Archived {
		background-color: #dd4242 !important;
	}

</style>

@section Scripts {
<script language="JavaScript" type="text/JavaScript">
		$(document).ready(function () {
			$('#calendar').fullCalendar({
				themeSystem: 'bootstrap4',
				locale: "fr",
				events: [
					@foreach (var item in Model)
					{
						@Html.Raw("{title:'Livraison', start:'"+ @item.Date.ToString("MM/dd/yyyy") + "', allDay:true, className:'status_" + @item.Status + "'},")
					}
				]
			})
		});
</script>
}

