@font-face {
	font-family: 'Code128';
	src: url('code128.woff') format('woff');
}
.code128 {
	font-family: 'Code128';
	font-size: 5em;
	padding: 0px !important;
}

h2 {
	text-align: center;
}

.barcode_item {
	display : inline-block;
	width : 24.5%;
}

	.barcode_item p {
		text-align:center;
	}

	.barcode_item div {
		text-align: center;
	}

