@model FacturationWebSite.Models.Customer

@{
    ViewData["Title"] = "Modification";
}

<h2>Modification</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Raison sociale</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address2" class="control-label"></label>
                <input asp-for="address2" class="form-control" />
                <span asp-validation-for="address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address3" class="control-label"></label>
                <input asp-for="address3" class="form-control" />
                <span asp-validation-for="address3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zipcode" class="control-label"></label>
                <input asp-for="zipcode" class="form-control" />
                <span asp-validation-for="zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=" Enregistrer" class="btn btn-success fa fa-save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
