@model FacturationWebSite.Models.InvoiceViewModel
@{
	ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="/css/invoice.css" />
<h2>Detail</h2>
<div>
	<h4>Facture</h4>
	<hr />

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div id="printSection" style="width:595px;height:842px;border:1px solid black">
				@await Html.PartialAsync("Invoice.cshtml", Model, this.ViewData)
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="fixed-action-btn">
				<a class="btn btn-success btn_print" asp-action="Print" asp-route-id="@Model.Invoice.InvoiceId" target="_blank"><i class="fa fa-print"></i> Imprimer</a>
			</div>
		</div>
	</div>
	
</div>
<div>
	<a class="btn btn-secondary" asp-action="Index">Retour</a>
</div>